{% extends 'portal/portal' %}
{% block appBody %}
<div class="row">
    <div class="col-md-12">
    <section class="content-header">
        <h1>
          Personal
            <small>Carga de personal</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    Home</a>
            </li>
        </ol>
    </section>
  </div>
</div>
<div class="row">
  <div class="box-body">
    <div class="col-md-12">
      <br>
      <div class="col-md-4">
        <label for="cmbareas">Seleccione el Area a la que desea cargar personal</label>
        <select class="form-control" name="cmbareas" id="cmbareas">
        <option value="0">--</option>
        {% for a in db_area if  false != db_area %}
          <option value="{{a.cod_area}}">{{a.descripcion}}</option>
        {%  endfor  %}
        </select>
        <br>
      </div>
      <div class="col-md-9">
      </div>
      <div class="col-md-6">
        <input class='filestyle' data-buttonText="Logo" type="file" name="imagefile" id="imagefile" onchange="document.getElementById('archivo').value=document.getElementById('imagefile').value" tabindex="-1" style="position:absolute; clip: rect(0px 0px 0px 0px);" accept="file_extension|image/*|media_type">
        <div class="bootstrap-filestyle input-group">
        <input type="text" class="form-control" id="archivo" placeholder="" disabled="">
        <span class="group-span-filestyle input-group-btn" tabindex="0">
        <label for="imagefile" class="btn btn-default ">
        <span class="icon-span-filestyle glyphicon glyphicon-share"></span>
        <span class="buttonText">Buscar Archivo</span>
        </label>
        </span>
        </div>
        <div id="div_cargando">
          <a class="btn btn-success btn-social" title="Exportar a Excel" data-toggle="tooltip" onclick="subirarchivoexcel()">
          <i class="fa fa-arrow-up"></i> Cargar Personal
          </a>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block appScript %}
  <script src="views/app/js/personal/personal.js"></script>
{% endblock %}
