{% extends 'portal/portal' %}
{% block appBody %}
  <section class="content-header">
      <h4>
        <i class="fa fa-user"></i> REGISTRO DE USUARIOS
      </h4>
      <ol class="breadcrumb">
        <li><a href="portal"><i class="fa fa-home"></i> Home </a></li>
        <li><a href="usuarios/listar_personal_sistema"> Usuarios </a></li>
        <li class="active"> Ingreso </li>
      </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <form id="formingreso" name="formingreso">
            <div class="box-body col-sm-2"></div>
            <div class="box-body col-sm-4">
              <div class="form-group">
                <input class="form-control" name="txtnombre" id="txtnombre" type="text"  placeholder="Nombre Completo" required/>
                <input class="form-control" name="txtemail"  id="txtemail"  type="email"    placeholder="E-Mail" required/>
                <input class="form-control" name="txtcargo"  id="txtcargo"  type="text"    placeholder="Cargo" value='SUPERVISOR / JEFE' required/>
                <input class="form-control" name="txtfono"   id="txtfono"   type="text"    placeholder="Fono" value='+56' required/>
              </div>
              <div class="form-group">
                <input class="form-control" name="txtpass" id="txtpass" type="password" placeholder="Password" value='1' required/>
                <input class="form-control" name="txtpassrepeat" id="txtpassrepeat" type="password" placeholder="Repita Password" value='1' required/>
              </div>
              <div class="form-group">Perfil Asignado
                <select name='cmdperfil' id='cmdperfil' class='form-control'>
                <option selected='selected'>--</option>
                {% for p in db_perfiles if false != db_perfiles %}
                <option value='{{ p.nombre }}'>{{ p.nombre }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-default col-md-3" id="btnguardar" name="btnguardar" onclick="guardar_usuario()">Guardar Usuario</button>
              </div>
            </div>
            <div class="box-body col-sm-4">
              <div class="form-group">
                <label class="col-sm-4  control-label">Rut Asocia Trabajador</label>
                <div class="col-sm-5">
                  <input class="form-control" name="rut_usuario" id="rut_usuario" type="text" placeholder="xxxxxxxx-x"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block appScript %}
    <script src="views/app/js/personal/personal.js"></script>
{% endblock %}
